@import url("https://use.typekit.net/yyj7usu.css");

/* Mobile First View  */

body {
  margin: 0px;
  font-family: Helvetica;
}

/* header css */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.logo_and_nav {
  display: flex;
  flex-direction: row;
}

ul {
  color: #354463;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 50;
}

#list_item {
  margin-top: 8px;
  margin-bottom: 8px;
}

.logo {
  color: #354463;
  font-weight: 600;
  font-size: 18px;
  margin-top: 13px;
  margin-right: 60px;
}

.donate_button,
.action_year_details button {
  border: none;
  color: #354463;
  font-weight: 600;
  font-size: 16px;
  background-color: #c1f7d5;
  border-radius: 30px;
  height: 40px;
  width: 312px;
}

/* header css end here */

/* main body css start here */

main {
  margin-top: 20px;
}

#banner2 {
  background: url("./images/component.png");
  background-repeat: no-repeat;
  /* height: 600px; */
  background-size: cover;
  background-color: #354463;
}

.bold_statement {
  box-sizing: border-box;
  font-family: flood-std, sans-serif;
  padding-top: 30px;
  padding-left: 45px;
  font-size: 40px;
  font-weight: 900;
  width: 45%;
  color: white;
}

.des {
  box-sizing: border-box;
  background-color: white;
  border: none;
  width: 70%;
  margin-left: 15%;
  margin-top: 32%;
}

.info_head {
  background-color: black;
  color: white;
  height: 40px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17.5%;
}

.issue_info {
  margin-top: -0px;
  margin-bottom: -0px;
  color: #354463;
  font-weight: 600;
  font-size: 21.5px;
  text-align: center;
}

#mission_and_values_section {
  background-color: #354463;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#mission_and_values_title {
  display: flex;
  padding: 3%;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  background-color: white;
  color: #354463;
  width: 50%;
}

.mission_and_values_info {
  margin-top: 10%;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

.mission img {
  height: 50px;
  width: 65px;
}

.mission h2 {
  font-size: 16px;
  margin-top: 3px;
}

.mission p {
  font-size: 14px;
  margin-top: -2%;
}

.mission {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 40%;
  margin-left: 5%;
}

.mission_details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#team_details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#our_team_title {
  display: flex;
  padding: 2%;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  color: white;
  background-color: #354463;
  width: 50%;
}

.our_team_title_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team_info {
  color: #354463;
  font-weight: 600;
  font-size: 21.5px;
  text-align: center;
  width: 75%;
  margin-top: 6%;
}

.team_des {
  width: 80%;
  text-align: center;
  color: gray;
  font-weight: 300;
  font-size: 14px;
  margin-top: 1%;
}

.team_member {
  padding: 0%;
  width: 35%;
  color: white;
  border: none;
}

.team_member img {
  height: 144px;
  width: 144px;
}

.team_member p {
  margin-top: -5%;
  padding: 10%;
  font-size: 14px;
  font-weight: 10ch;
  background-color: #354463;
}

.all_team_members {
  width: 85%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  margin-left: 4%;
}

#our_impact_details {
  box-sizing: border-box;
  background: url("./images/component2.png");
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #354463;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.impact_title {
  display: flex;
  padding: 2.5%;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  background-color: white;
  color: #354463;
  width: 35%;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

#our_impact_details span {
  font-size: 20px;
  width: 95%;
  text-align: center;
  font-weight: 1000;
  margin-top: 8%;
}

.impact_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 0%;
}

.impact_divs {
  padding: 0%;
  width: 52%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.count {
  box-sizing: border-box;
  font-family: flood-std, sans-serif;
  font-size: 35px;
  margin-top: 4%;
}

.count_des {
  font-size: 16px;
  margin-top: -13%;
  font-weight: 600;
}

.action_details {
  background-color: #354463;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work {
  display: none;
}

#start_work {
  display: flex;
  flex-direction: column;
}

.action_statement img {
  display: none;
}

.action_statement {
  box-sizing: border-box;
  font-family: flood-std, sans-serif;
  font-size: 40px;
  color: white;
  width: 85%;
  text-align: center;
}

.action_data {
  width: 80%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a1 {
  background: url("./images/poverty.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 280px;
  height: 250px;
}

.action_year {
  background-color: white;
  width: 35%;
  height: 8%;
  padding: 4%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 28%;
}

.action_year_details {
  background-color: white;
  width: 305px;
}

#action_year_detail_head {
  padding-top: 10%;
  padding-left: 6.5%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#action_year_detail_body {
  font-size: 16px;
  padding-left: 6.5%;
}

.action_year_details button {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 10%;
}

#subscribe_details {
  background-color: #c1f7d5;
  margin-top: -6%;
}

.subscribe_details_data {
  width: 90%;
  color: #354463;
  font-size: 22px;
  padding-top: 10%;
  margin-left: 10%;
  font-weight: 600;
}

#subscribe_details input {
  height: 4vh;
  background-color: white;
  border: none;
  border-radius: 100px;
  margin-bottom: 8%;
  margin-left: 8%;
  width: 50%;
  font-size: 15px;
}

.subscribe_details_button {
  background-color: #354463;
  height: 4vh;
  color: #c1f7d5;
  border-radius: 100px;
  width: 30%;
  font-size: 15px;
  border: none;
}

/* main part css over here */

/* footer css start here */

#footer_body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 13%;
}

#footer_body a {
  color: #354463;
}

#footer_logo {
  width: 34%;
  margin-top: 17%;
}

#contactUs_address,
#contactUs_help,
#contactUs_social_media {
  margin-top: 10%;
  width: 40%;
  font-size: 14px;
  color: #354463;
}

#contactUs_help p,
#contactUs_social_media p {
  margin: 4%;
}

#contactUs_help {
  margin-left: 13%;
}

#footer_bold_statement {
  font-family: flood-std, sans-serif;
  color: #354463;
  padding: 0%;
  text-align: right;
  margin-left: 50%;
  margin-bottom: 10%;
  padding-right: 20%;
}

/* footer css completed */

/* Mobile View Completed */

/* Tab View CSS started */

@media only screen and (min-width: 810px) {
  /* header CSS started here */
  header {
    display: flex;
    flex-direction: row;
  }

  .logo_and_nav {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  header p {
    width: 60%;
    margin-left: 8%;
    font-size: 22px;
  }

  ul {
    width: 60%;
    margin: 0%;
    padding-left: 0%;
    margin-left: 5%;
    margin-top: -3%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  .donate_button {
    width: 20%;
    height: 5vh;
    font-size: 19px;
  }

  /* header CSS over here */

  /* main body CSS started here */

  #banner2 {
    background: url("./images/banner_2_tab.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #354463;
  }

  .bold_statement {
    width: 30%;
    padding: 9%;
    font-size: 40px;
  }

  .des {
    margin-top: -1%;
  }

  .info_head {
    background-color: #354463;
  }

  fieldset {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #mission_and_values_section {
    align-items: flex-start;
  }

  .info_head {
    margin-left: 10%;
  }

  .issue_info {
    height: 100%;
    font-size: 27px;
    width: 90%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #mission_and_values_title {
    padding: 1.5%;
    height: 7%;
    width: 20%;
    margin-left: 10%;
    margin-top: 8%;
  }

  .mission_and_values_info {
    text-align: left;
    font-size: 27px;
    margin-top: 5%;
    margin-left: 2%;
  }

  .mission_details {
    justify-content: flex-start;
    margin-left: 5%;
    margin-bottom: 7%;
  }

  .mission {
    width: 25%;
  }

  .mission h2 {
    font-size: 22px;
    margin-top: 3px;
  }

  .mission p {
    font-size: 14px;
    margin-top: -2%;
  }

  #team_details {
    align-items: flex-start;
    margin-left: 10%;
  }

  #our_team_title {
    padding: 1%;
    height: 10%;
    width: 18%;
  }

  .our_team_title_content {
    justify-content: flex-start;
    flex-direction: row;
  }

  #team_title_information {
    font-size: 33px;
    width: 50%;
  }

  #team_title_description {
    width: 30%;
    font-size: 16.2px;
  }

  .team_info {
    width: 50%;
    font-size: 40px;
    text-align: left;
    display: inline-block;
    clear: right;
  }

  .team_des {
    width: 35%;
    text-align: left;
    font-size: 18px;
    margin-top: 3%;
    margin-left: 10%;
  }

  .all_team_members {
    margin-left: 5%;
    margin-top: 15%;
  }

  .team_member {
    margin-top: 5%;
    margin-right: 9vw;
    display: flex;
    flex-direction: column;
  }

  .team_member p {
    padding: 7%;
    width: 90%;
    height: 10%;
    margin-left: 20%;
    margin-top: -9%;
  }

  .all_team_members img {
    height: 272px;
    width: 272px;
  }

  #our_impact_details {
    background: url("./images/impact2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #354463;
  }

  .impact_title {
    padding: 1.5%;
    width: 17%;
    height: 2%;
  }

  #our_impact_details span {
    font-size: 38px;
  }

  .count {
    font-size: 70px;
    padding: 0%;
    margin: 0%;
  }

  .count_des {
    font-size: 26px;
    padding: 0%;
    margin: 0%;
  }

  .impact_divs {
    width: 40%;
    margin-bottom: 0%;
    margin-top: 5%;
  }

  .impact_data {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5%;
  }

  .action_data {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    overflow: scroll;
    width: 100%;
  }

  .team_info {
    font-size: 22px;
  }

  .a1 {
    width: 280px;
    height: 250px;
    margin-left: 0%;
  }

  .action_statement {
    box-sizing: border-box;
    width: 88%;
    text-align: left;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .action_statement img {
    display: flex;
  }

  .action_details p {
    width: 70%;
  }

  .action_year {
    margin-left: 10%;
  }

  .action_year_details {
    width: 305px;
  }

  .team_des {
    width: 100%;
    margin-left: 0%;
    font-size: 10px;
  }

  .work .team_info {
    margin-top: -1%;
  }

  .work {
    display: contents;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }

  .action_year_details button {
    margin-left: 8%;
  }

  .subscribe_details_data {
    width: 55%;
  }

  #subscribe_details input {
    width: 60%;
    margin-top: 2%;
  }

  .subscribe_details_button {
    width: 20vw;
    margin-left: 4%;
    font-weight: 600;
    font-size: 17px;
  }

  /* main body CSS end here */

  /* footer CSS started here */

  #footer_body {
    box-sizing: border-box;
    margin-bottom: 0%;
  }

  #footer_logo {
    transform: translate(-3vw, -15vh);
    font-size: 25px;
  }

  #contactUs_address {
    width: 20%;
    transform: translate(-3vw, -10vh);
  }

  #contactUs_social_media {
    width: 20%;
    transform: translate(8vw, -9vh);
  }

  #contactUs_help {
    width: 20%;
    transform: translate(19vw, -9vh);
  }

  #footer_bold_statement {
    transform: translate(19vw, -20vh);
    margin-bottom: 0%;
  }
  /* footer CSS end here */
}

/* Tab View Completed */

/* Desktop View CSS started */

@media only screen and (min-width: 1450px) {
  /* header CSS start here */

  header {
    margin: 0%;
    padding: 0%;
  }

  ul {
    transform: translate(400px, -30px);
  }

  .donate_button {
    width: 10%;
    height: 40px;
    transform: translate(-30px, 7px);
  }

  /* header CSS over here */

  /* main CSS start here */

  main {
    margin-top: -2px;
  }

  #banner2 {
    background: url("./images/banner_2_desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #354463;
    height: 400px;
  }

  .bold_statement {
    width: 20%;
    padding: 6% 0 0 0;
    font-size: 65px;
    margin-left: 11%;
  }

  .des {
    margin: 0%;
    width: 30%;
    height: 90%;
    transform: translate(50vw, -25vh);
  }

  .issue_info {
    font-size: 30px;
  }

  #mission_and_values_title {
    width: 10%;
    padding: 1%;
    font-size: 14px;
    margin-top: 9%;
  }

  .mission_and_values_info {
    font-size: 40px;
    font-weight: 800;
    width: 70%;
    margin-top: 2%;
    margin-left: 3%;
  }

  .mission {
    box-sizing: border-box;
    width: 16%;
  }

  .mission h2 {
    width: 80%;
  }

  .mission p {
    width: 70%;
  }

  .mission img {
    height: 70px;
    width: 95px;
    margin-top: 5%;
  }

  #our_team_title {
    width: 10%;
    padding: 0.8%;
    margin-top: 8%;
  }

  #team_title_information {
    width: 34%;
    font-size: 38.5px;
    margin-top: 3%;
  }

  #team_title_description {
    font-size: 20px;
    margin-left: 10%;
  }

  .all_team_members {
    grid-template-columns: auto auto auto;
    margin-top: 9%;
  }

  .impact_title {
    width: 12%;
    padding: 0.8%;
  }

  #our_impact_details span {
    width: 45%;
    margin-top: 3%;
  }

  .impact_data {
    flex-wrap: nowrap;
    margin-bottom: 5%;
  }

  .impact_divs {
    width: 22%;
  }

  .work {
    margin-left: 3%;
  }

  .a1 {
    width: 420px;
    height: 394px;
  }

  .action_year_details {
    width: 445px;
  }

  #action_year_detail_head {
    margin-left: 3%;
    font-size: 25px;
    width: 90%;
  }

  #action_year_detail_body {
    font-size: 18px;
    margin-left: 3%;
  }

  .action_year_details button {
    width: 30%;
    height: 15%;
    margin-left: 8%;
  }

  .action_year {
    padding: 2%;
  }

  #subscribe_details {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .subscribe_details_data {
    width: 35%;
    font-size: 25px;
    display: inline-block;
    padding-top: 0%;
  }

  #subscribe_details input {
    width: 25%;
    font-size: 22px;
    padding: 0.3%;
    margin-left: 2%;
    margin-bottom: 0%;
    transform: translate(0, 15px);
  }

  .subscribe_details_button {
    width: 10%;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, 15px);
    margin-left: 2%;
  }

  /* main CSS over here */

  /* footer CSS start here */

  #footer_body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #footer_bold_statement {
    transform: translate(450px, -350px);
    font-size: 40px;
  }

  #footer_logo {
    width: 18%;
    margin-top: 3%;
  }

  #contactUs_address {
    width: 150px;
    transform: translate(90px, -210px);
  }

  #contactUs_social_media {
    width: 150px;
    transform: translate(300px, -210px);
  }

  #contactUs_help {
    margin-left: 0%;
    width: 150px;
    transform: translate(-20px, -210px);
  }

  /* footer CSS over here */

  /* footer CSS completed for Desktop View*/
}
